@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] + p,
p[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

p[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
